{% extends "base.html.twig" %}

{% block title %}{{parent()}} | Übersicht{% endblock %}

{% block body %}
<h1>{{title}}</h1>

<div>
    <ul>
        {% for day in days %}
            <li>
                <div>Tag {{day.id}} - {{day.title}}</div>
                <div>{{day.text}}</div>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}